/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    font-family: 'Poppins' , sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(212, 145, 145);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* HEADER */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 997;
    transition: 0.3s all ease-in-out;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }
.logo{
    letter-spacing: 1.5px;
    font-size:3rem;
    font-weight: 500;
}
.logo a{
    color: white;
}
.logo span{
    color: red;
    text-transform: uppercase;
}
/* HAMBURGER MENU */
.hamburger-menu{
    width: 35px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bars{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
} 
.active .top-bar{
    transform: rotateZ(-45deg) translate(-8px,6px);
    background-color: red;
}
.active .bottom-bar{
    transform: rotateZ(45deg) translate(-8px,-6px);
    background-color: red;
}
.active .center-bar{
    opacity: 0;
}
/* NAV */
nav{
    width: 350px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: all 0.8s ease;
    z-index: 999;
}
.active #nav{
    transform: translateX(0);
}
.nav-list{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item{
    width: 100%;
}
.nav-link{
    display: block;
    padding: 20px 0px;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    transition: all 0.5s ease;
} 
.nav-link:hover{
    color: red;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.icons a{
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 10px;
    color: white;
    transition: all 0.3s ease;
}
.icons a:hover{
    color: red;
}
/* OVERLAY */
.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 998;
    display:none;
}
.active .overlay {
    display:block;
}

/* SLIDER */
.slider{
    position: absolute;
    top: 0;
    left: 0;
}
.slider-container {
    width: 100%;
    position: relative;
    margin: auto;
  }

  .mySlides img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
  }
  .mySlides {
    display: none;
    position: relative;
  }
  .mySlides::before{
    position: absolute;
    content: "";
    width: 100%;
    height:100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* SLIDER INNER */

  
.slider-inner{
    /* background-color: red; */
    /* width: 50%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.slider-h{
    color: white;
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 600;
}
.slider-p{
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1.5rem;
}
.btn{
    display: inline-block;
    border-radius: 4px;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
}
.btn-slider{
    background-color: red;
    color: white;
    margin-top: 3rem;
    transition: 0.5s transform ease;
}
.btn-slider:hover{
    transform: scale(1.1);
}
  .yo{
      width: 100%;
      height: 1200px;
  }